
{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="{% static 'http://www.w3.org/1999/xhtml' %}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>personal portfolio - free website template</title>
<meta name="keywords" content="free website templates, personal portfolio, CSS, HTML" />
<meta name="description" content="personal portfolio is a free website template provided by templatemo.com" />
<link href="{% static 'templatemo_style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="templatemo_container">
	<!-- Free Website Template from www.TemplateMo.com -->
	<div id="templatemo_header_panel">
    	<div id="site_title">
        	personal site
        </div>
    </div> <!-- end of header panel -->
    
    <div id="templatemo_menu">
    	<ul>
            <li><a href="#" class="current">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="register">Register</a></li>
            <li><a href="register/login">Login</a></li>
        </ul>
    
    </div> <!-- end of menu -->
    
    <div id="templatemo_top_panel">
    	<div class="project_section_title"></div>
    	<div class="top_panel_section">
        	<div class="image_box">
            	<div class="image_box_01">
            		<a href="{% static 'http://www.templatemo.com/preview/templatemo_084_design_blog' %}" target="_parent"><img src="{% static 'images/templatemo_image_01.gif' %}" alt="template 1" /></a>                </div>
          </div>
            <div class="project_title"><a href="{% static 'http://www.templatemo.com/preview/templatemo_084_design_blog' %}" target="_parent">Project 1</a></div>
      </div>
        <div class="top_panel_section">
        	<div class="image_box">
            	<div class="image_box_01">
            		<a href="{% static 'http://www.templatemo.com/preview/templatemo_055_blog' %}" target="_parent"><img src="{% static 'images/templatemo_image_02.gif' %}" alt="template 2" /></a>                </div>
          </div>
            <div class="project_title"><a href="{% static 'http://www.templatemo.com/preview/templatemo_055_blog' %}" target="_parent">Project 2</a></div>
      </div>
        <div class="top_panel_section">
        	<div class="image_box">
            	<div class="image_box_01">
            		<a href="{% static 'http://www.templatemo.com/preview/templatemo_063_green_blog' %}" target="_parent"><img src="{% static 'images/templatemo_image_03.gif' %}" alt="template 3" /></a>                </div>
          </div>
            <div class="project_title"><a href="{% static 'http://www.templatemo.com/preview/templatemo_063_green_blog' %}" target="_parent">Project 3</a></div>
      </div>	
        <div class="cleaner_h20">&nbsp;</div>
        <div class="templatemo_btn_01" style="margin-right:35px;"><a href="#">View All</a></div>
    </div> <!-- end of top panel -->
    
    <div id="templatemo_bottom_panel">
    
        {% for ind in inds %}
        <div class="bottom_panel_section">
        	<div class="bottom_section_title">{{ind.div}}</div>
      <div class="image_box">
            	<div class="image_box_02">
            		<img src="{{ind.img.url}}" alt="css template" />
                </div>
            </div>
            <p>{{ind.par}}<a href="#">read more</a></p>
            
          <div class="cleaner_h10">&nbsp;</div>
            <a href="{% static 'http://validator.w3.org/check?uri=referer' %}"><img style="border:0;width:88px;height:31px" src="{{ind.img1.url}}" alt="Valid XHTML 1.0 Transitional" width="88" height="31" vspace="8" border="0" /></a>
<a href="{% static 'http://jigsaw.w3.org/css-validator/check/referer' %}"><img style="border:0;width:88px;height:31px"  src="{{ind.img2.url}}" alt="Valid CSS!" vspace="8" border="0" /></a> 
	            
		  <div class="cleaner">&nbsp;</div>

      {% endfor %}
        </div>
        
        <div class="cleaner_h20">&nbsp;</div>    
    </div> <!-- end of bottom panel -->
    
	<div id="templatemo_footer">    
    	Copyright © 2048 <a href="#"><strong>Your Company Name</strong></a> | <a href="{% static 'http://www.iwebsitetemplate.com' %}" target="_parent">Website Templates</a> by <a href="{% static 'http://www.templatemo.com' %}" target="_parent">Free CSS Templates</a>
	</div> <!-- end of footer -->
    <!-- Free Website Templates @ TemplateMo.com -->
</div> <!-- end of container -->
<div align=center>This template  downloaded form <a href="{% static 'http://all-free-download.com/free-website-templates/' %}">free website templates</a></div></body>
</html>